<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
  <bean id="triangle" class="Triangle">
    <!--<property name="type" value="Equilateral"/>-->
    <!--<constructor-arg type="java.lang.String" value="nice"/>-->
    <!--<constructor-arg type="int" value="123"/>-->
    <!--<constructor-arg index="0" value="nice"/>-->
    <!--<constructor-arg index="1" value="123"/>-->

  </bean>
</beans>